:root {
  --dark-green: #365d32;
  --light-green: #a1c181;
  --light-green-light: #a1c18130;
  --yellow: #fcca46;
  --light-blue: #3aaed8;
  --dark-blue: #233d4d;
  --white: #fff;
  --black: #000;
  --dark-grey: #5f5e5e;
  --light-grey: #e5e5e5;
  --error: #ff5b57;
  --error-light: #ff5b5725;
}
