.btn {
  border-radius: 30px;
  padding: 0.75rem 2rem;
  &:hover {
    background-color: transparent;
  }
  &-primary {
    color: var(--white);
    &:hover {
      color: var(--light-blue);
    }
    &__login {
      width: 100%;
    }
  }
  &-secondary {
    color: var(--dark-blue);
    &:hover {
      color: var(--yellow);
    }
    &__register {
      width: 100%;
    }
  }
  &-table {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
  }
}

.input-group__user-email {
  margin: 2rem 0;
}
