.btn {
  display: block;
  border-radius: 30px;
  padding: 0.75rem 2rem;
  &:hover {
    background-color: transparent;
  }
  &-primary {
    color: var(--white);
    &:hover {
      color: var(--light-blue);
    }
  }
  &-secondary {
    color: var(--dark-blue);
    &:hover {
      color: var(--yellow);
    }
  }
}
