.form {
  margin: 0 auto;
  &-text {
    font-size: 0.75rem;
  }
  .row {
    margin-bottom: 1rem;
  }
}

.alert {
  margin-top: 1rem;
}

.table-input {
  border: none;
}

.table-input__small {
  width: 5rem;
}
