.form {
  margin: 0 auto;
  &-text {
    font-size: 0.75rem;
  }
  .row {
    margin-bottom: 1rem;
  }
}

.alert {
  margin-top: 1rem;
}

.table-input {
  border: none;
}

.table-input__small {
  width: 6rem;
}

.form-check-input:checked {
  background-color: var(--light-blue);
  border: var(--light-blue) solid 1px;
}

.no-mobile {
  display: none;
  @include sm {
    display: table-cell;
  }
}
