.reset-password {
  margin-bottom: 1rem;
}

.form-auth {
  width: 100%;
  margin: 7rem auto;
  padding: 2rem 1.5rem;
  background-color: var(--white);
  box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
  border-radius: 3rem;
  @include md {
    margin-top: 10rem;
    padding: 4rem 3rem;
  }
}

.form-auth__login {
  @include md {
    width: 55%;
  }
  @include lg {
    width: 45%;
  }
  @include xl {
    width: 40%;
  }
}

.password-change {
  margin-top: 2rem;
  .form-auth__register {
    @include md {
      width: 70%;
    }
  }

  .password-change__input-row {
    align-items: flex-start;
    flex-direction: column;
    --bs-gutter-x: unset;
    .btn-primary__change {
      width: 15rem;
    }
  }
}

.userdata {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
  &-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--yellow);
  }
  &-name {
  }
}
