header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: var(--dark-blue);
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main-nav_logo {
  font-size: 1.5rem;
}

.main-nav_logo a {
  color: var(--white);
  text-decoration: none;
}

.main-nav_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.main-nav_links a {
    line-height: 1;
}

.main-nav__profile-image {
  height: 50px;
  border-radius: 50%;
}